.topic-highlight{
  &-heading{
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2{
    font-size: 28px;
    color: $color-title;
    }
    a{
      color: $color-primary;
      font-weight: 500;
      display: flex;
      align-items: center;
      padding: 10px 0;
      span:hover{
        text-decoration: underline;
      }
      i{
        font-size: 20px;
      }
    }
  }
  .slider{
    margin:  0 -10px;
  }
  &-content {
    padding: 5px 10px;
  }
  &-item{
    padding:  0 10px;
    scroll-snap-align: start;
    margin-bottom: 40px;
    width: 100%;
    a{
      width: 100%;
    }
  }
  &-thumbnail{
    object-fit: cover;
    border-radius: 8px;
    overflow: hidden;
    img{
      min-height: 220px;
      max-height: 220px;
      border-radius: 8px;
      transition: .2s ease;
      height: 100%;
      &:hover{
        transform: scale(1.1);
      }
    }
  }
  &-title{
    a{
      font-size: 16px;
      margin-top: 8px;
      color: $color-title;
      line-height: 1.5;
      text-align: left;
      font-weight: 600;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;

      &:hover {
        color: $color-primary;
      }
    }
  }
  &-view{
    text-align: left;
    margin-top: 12px;
    color: $color-title;
    span{
      margin-left: 8px;
    }
  }
}
.work{
  padding: 30px 0 50px 0;
  text-align: center;
  &-title{
    text-align: center;
    margin-bottom: 16px;
    font-size: 28px;
    color: $color-title;
    font-weight: 700;
  }
  &-desc{
    margin-bottom: 30px;
  }
  &-item{
    margin: 20px 0;
    &-img{
      img {
        width: 40px;
      }
      background-color: $color-primary;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px auto;
    }
    &-title{
      margin-bottom: 8px;
      color: $color-title;
      font-weight: 600;
      font-size: 18px;
    }
    &-desc{
      font-size: 14px;
      line-height: 1.6;
    }
  }
}
.post{
  margin-top: 10px;
  &-heading {
    margin-bottom: 32px;
    font-size: 28px;
    color: $color-title;
  }
  &-slider {
    margin: 0 -10px;
  }
  &-content{
    padding: 5px 10px;
  }
  &-item {
    padding: 0 10px;
    scroll-snap-align: start;
    margin-bottom: 40px;
    width: 100%;
    a{
      display: block;
      width: 100%;
    }
  }
  &-thumbnail {
    object-fit: cover;
    border-radius: 8px;
    overflow: hidden;

    img {
      min-height: 220px;
      max-height: 220px;
      border-radius: 8px;
      transition: .2s ease;
      height: 100%;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &-title {
    a{
      font-size: 16px;
      margin-top: 8px;
      color: $color-title;
      line-height: 1.5;
      text-align: left;
      font-weight: 600;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;

      &:hover {
        color: $color-primary;
      }
    }
  }
  &-view {
    margin-left: -10px;
    text-align: left;
    margin-top: 12px;
    color: $color-title;
    display: flex;
    justify-content: flex-start;
    div{
      margin: 0 10px;
    }
    span {
      margin-left: 8px;
    }
  }
}