@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  overflow-x: hidden;
}
html {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  width: 100%;
  display: inline-block;
}
.home{
  display: flex;
  min-height: 100vh;
}
.sidebar-app{
  width: 96px;
}
.content{
  max-width: calc(100% - 96px);
  flex: 1 1;
  margin-top: 18px;
  padding: 0 40px;
}
.home-wrap{
  padding: 20px 0;
  margin-top: 50px;
}


.pb-4{
  padding-bottom: 20px;
}
@media (max-width: 992px) {
  .content {
    max-width: 100%;
    padding: 0 20px;
  }
  .home-wrap{
    padding: 20px 0;
  }
}