.attempt{
  background-color: rgba(28, 28, 28, 1);
  width: 100%;
  min-height: 100vh;
  padding: 20px 0;
  &-controls{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    color: $color-white;
    padding: 20px;
    font-size: 14px;
    max-width: 75%;
    &-right,&-left{
      cursor: pointer;
      display: flex;
      align-items: center;
      span{
        margin-right: 5px;
      }
    }
    &-mid{
      span{
        background-color: $color-primary;
        display: block;
        padding:8px 12px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
  .message{
      padding: 100px 20px;
      text-align: center;
    span{
      color: $color-white;
      font-size: 20px;
    }
  }
  &-heading{
    width: 100%;
    cursor: pointer;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    span{
      display: flex;
      align-items: center;
      line-height: 19px;
      margin: 0 2px;
    }
    a{
      color: $color-white;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    &-time{
      display: none;
      color: $color-primary;
      span{
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
  &-question{
    text-align: left;
    padding: 30px 0;
    color: $color-white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    span{
      display: block;
      font-size: 16px;
      line-height: 1.4;
    }
    img{
      margin-top: 20px;
    }
  }
  &-title{
    text-align: left;
    span{
      display: block;
      font-size: 18px;
      line-height: 1.6;
    }
  }
  &-answer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    input{
      display: none;
    }
    div{
      border: 1px solid $color-white;

      margin-bottom: 20px;
      border-radius: 4px;
      cursor: pointer;
      width: 100%;
    }
    label{
      padding: 10px 20px;
      display: block;
      cursor: pointer;
      &.active{
        background-color: $color-primary;
      }
    }
  }
  &-info{
    background-color: #000000;
    width: 25%;
    height: 100%;
    color: $color-white;
    padding: 20px ;
    padding-bottom: 50px;
    border-radius: 12px;
    position: fixed;
    top: 0;
    right: 0;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #9CA3AF;
      border-radius: 12px;
    }
    &-content{

      height: auto;
    }
    &-name{
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      span{
        &:nth-child(2){
          margin: 10px 0;
          line-height: 1.7;
        }
      }
    }
  }
  &-time{
    div{
      display: flex;
      align-items: center;
      span{
        margin: 0 5px 0 0;
        height: 20px;
        line-height: 20px;
      }
    }
  }
  &-cricle{
    position: relative;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid $color-text;
    margin-top: 50px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    &::before{
      border-radius: 50%;
      position: absolute;
      content: '';
      width: calc(100% + 10px);
      height: calc(100% + 10px);
      top: -5px;
      left: -5px;
      border: 5px solid $color-primary;
    }
    &-text{
      width: 65%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        span {
          color: $color-primary;
          font-size: 36px;
          font-weight: 600;
          text-align: center;
          margin: 0;
        }
      }
    }

  }
  &-map{
    margin-top: 20px;
    &-text{
      display: flex;
      align-items: center;
      justify-content: space-between;
      span{
        margin: 0 2px;
      }
    }
    &-picture{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-top: 20px;
      width: 100%;
      div{
        width: 30px;
        height: 30px;
        border-radius: 5px;
        background-color: $color-text;
        margin: 5px;
        cursor: pointer;
        &.math {
          background-color: $color-primary;
        }
        &.active{
          background-color: $color-text-secondary;
        }
        &.active.math{
          background-color: $color-text-secondary;
        }
      }
    }
  }
  &-question-mobile{
    display: none;
    margin-top: 10px;
    div{
      font-size: 14px;
      color: $color-white;
      cursor: pointer;
      &.active{
        color: $color-primary;
      }
    }
  }
}

.topic-result{
  background-color: rgba(28, 28, 28, 1);
  width: 100%;
  min-height: 100vh;
  display: flex;
  position: relative;
  &-left{
    width: calc((100%) / 3 * 2);
    width: 100%;
    padding: 20px;
  }
  &-heading{
    display: flex;
    span{
      color: $color-white;
      cursor: pointer;
      margin-right: 4px;
    }
    a{
      color: $color-white;
      display: flex;
      span{
        margin-left: 4px;
      }
    }
  }
  &-content{
    text-align: center;
    margin-top: 50px;
  }
  .result {
    max-width: 400px;
    margin: 0 auto;
    &-title{
      margin-top: 20px;
      color: $color-white;
      font-size: 14px;
    }
    &-time {
      width: 176px;
      height: 176px;
      border: 3px solid $color-primary;
      border-radius: 50%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color-primary;
      span{
        font-size: 36px;
        font-weight: 500;
        margin: 0 5px;
      }
    }
    &-total {
      font-size: 24px;
      color: $color-white;
      font-family: 500;
      margin: 20px 0;
      span{
        margin: 0 2px;
      }
    }
    &-slogan {
      color: $color-white;
      font-size: 16px;
      font-weight: 400;
    }
    &-table{
      width: 100%;
      border:2px solid $color-primary ;
      margin: 20px 0;
      border-radius: 8px;
      padding:  20px;
      &-item{
        margin-top: 10px;
        color: $color-white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p:nth-child(1){
          display: flex;
          align-items: center;
          span{
            margin-right: 6px;
          }
          svg{
            color: #00A86B;
            width: 20px;
          }
        }
        .progress-line{
          flex: 1;
          height: 8px;
          background-color: $color-text;
          margin: 0 auto;
          border-radius: 4px;
          position: relative;
          max-width: 180px;
          margin-left: auto;
          div{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            border-radius: 4px;
          }
        }
        p{
          width: 95px;
          text-align: right;
        }
      }
    }
    &-toggle{
      cursor: pointer;
      color: $color-white;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px 0 40px 0;
      span{
        margin-right: 5px;
      }
    }
    &-button{
      a{
        color: $color-white;
        padding: 12px 16px;
        width: 100%;
        max-width: 200px;
        background-color: $color-primary;
        font-size: 16px;
        font-weight: 600;
        border-radius: 8px;
        margin-top: 20px;
      }
    }
  }
  &-right{
    width: calc((100%) / 3);
    display: none;
  }
  .modal-result{
    background-color: rgba(28, 28, 28, 1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: .2s ease-in;
    transform: translateX(100%);
    padding: 20px;
    overflow: hidden;
    &.active{
      transform: translateX(0);
    }
    &-heading{
      color: $color-white;
      display: flex;
      align-items: center;
      cursor: pointer;
      svg{
        width: 20px;
        margin-right: 4px;
      }
    }
    &-list{
      display: flex;
      margin: 0 -5px;
      flex-wrap: wrap;
      margin-top: 15px;
      li{
        width: 65px;
        max-height: 65px;
        background-color: #000;
        color: $color-white;
        margin: 0 5px;
        text-align: center;
        padding: 5px;
        margin-bottom: 10px;
        font-size: 12px;
        border-radius: 5px;
        cursor: pointer;
        span{
          display: block;
          margin-bottom: 5px;
        }
      }
    }
  }

  .question{
    max-width: 800px;
    margin: 0 auto;
    margin-top: 40px;
    &-title{
      color: $color-white;
      margin: 20px 0;
      line-height: 1.6;
      font-size: 18px;
      img{
        margin-top: 20px;
        border-radius: 8px;
      }
    }
    label{
      width: 100%;
      display: block;
      padding: 10px 15px;
      color: $color-white;
      margin-bottom: 20px;
      border-radius: 8px;
      border: 1px solid $color-white;
      cursor: pointer;
      line-height: 1.6;
      font-size: 16px;
      &.active{
        background-color: $color-primary;
      }
      img{
        border-radius: 8px;
        margin-top: 10px;
      }
    }
    input{
      display: none;
    }
  }
}


@media(max-width:1300px){
  .attempt{
    &-info{
      width: 32%;
    }
    &-controls{
      width: 68%;
    }
  }
}
@media (max-width:992px){
  .attempt{
    padding: 5px 0;
    &-controls{
      width: 100%;
      display: flex;
      max-width: 100%;
      &-left,&-right{
        width: 80px;
      }
    }
    &-heading{
      padding: 20px 0;
      margin-bottom: 0;
      background-color: #1C1C1C;
      &-time{
        display: flex;
      }
    }
    &-question-mobile{
      display: block;
    }
    &-info{
      position: relative;
      padding: 10px 15px;
      width: 100%;
      overflow: unset;
      &-name{
        display: none;
      }
    }
    &-time {
      display: none;
    }
    &-map{
      margin: 0;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      &-text{
        & > span{
          display: none;
        }
      }
      &-picture{
        flex: 1;
        margin:0 ;
        div{
          width: 15px;
          height: 15px;
        }
      }
    }
    &-button{
      position: fixed;
      bottom: 10px;
      margin: 0;
      display: flex;
      justify-content: flex-end;
      button{
        background-color: $color-primary;
        color: $color-white;
        margin-right: 50px;
      }
      display: none;
    }
  }
  .topic-result{
    .modal-result{
      &-list{
        li{
          width: 53px;
          max-height: 48px;
          margin:3px;
        }
        svg{
          width: 13px;
        }
      }
    }
  }
}
.slick-slide {
  color: #fff;
  text-align: center;
}
.question-answer input:checked~label {
  background-color: green;
}
.attempt-answer input:checked~label {
  background-color: $color-primary;
}
form{
  width: 100%;
}

svg{
  width: 20px;
}