.sidebar{
  --tw-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  --tw-ring-offset-shadow: 0 0 transparent;
  --tw-ring-shadow: 0 0 transparent;
  height: 100vh;
  background-color: rgba(255,250,241,1);
      box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow);
  width: 0;
  transition: .2s ease;
  &.active{
    width: 16.6666667%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 3;
  }
}

@media (max-width:1024px) {
  .sidebar{
    &.active{
      position: fixed;
      width: 25%;
    }
  }
}

@media (max-width:992px) {
  .sidebar{
    &.active{
      width: 33%;
    }
  }
}
@media (max-width:576px) {
  .sidebar{
    &.active{
      width: 50%;
    }
  }
}