.banner{
  width: 100%;
  &-item{
    padding: 50px 30px;
    width: 100%;
    border-radius: 20px;
    text-align: left;
    & > div{
      display: flex;
      align-items: flex-start;
    }
    &.one{
      --cta-hover-color: #fe215e;
      background: linear-gradient(to right, rgb(254, 33, 94), rgb(255, 148, 2));
    }
    &.two{
      --cta-hover-color: #007efe;
      background: linear-gradient(to right, rgb(0, 126, 254), rgb(6, 195, 254));
    }
    &.three{
      --cta-hover-color: #7612ff;
      background: linear-gradient(to right, rgb(118, 18, 255), rgb(5, 178, 255));
    }
    img{
      max-width: 500px;
      margin-left: auto;
    }
  }
  &-left{
    width: 40%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
  }
  &-right{
    flex: 3 1;
  }
  &-title{
    color: $color-white;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 16px;
  }
  &-desc{
    color: $color-white;
    font-size: 16px;
    line-height: 1.8;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
  &-button{
    margin-top: 20px;
    a{
      color: $color-white;
      font-weight: 500;
      padding: 8px 30px;
      border: 3px solid $color-white;
      border-radius: 24px;
      &:hover{
        background-color: $color-white;
        color: var(--cta-hover-color);
      }
    }
  }
  .slick-dots{
    bottom: -35px;
    left: 0;
    li{
      width: 40px;
      &.slick-active{
        width: 60px;
        button{
          background-color: #9aa6af;
          width: 60px;
        }
      }
      button{
        width: 40px;
        height: 8px;
        background-color: #dce0e3;
        border-radius: 4px;
        padding: 0px;
        &::before{
          content: '';
        }
      }
    }
  }
  .slick-slider{
    position: relative;
    .slick-arrow{
      position: absolute;
      background-color: $color-white;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      z-index: 20;
      &::before{
        color: #000;
      }
      &.slick-prev{
        &::before{
          content: '<';
        }
        left: 0;
        top: 50%;
        transform: translate(-50%);
      }
      &.slick-next {
        &::before {
          content: '>';
        }
        top: 50%;
        transform: translate(-50%);
        right: -25px;
      }
    }
  }
}

@media (max-width: 992px){
  .banner{
    .slick-slider{
      .slick-arrow.slick-prev,
      .slick-arrow.slick-next
      {
        display: none;
        left: -100000%;
      }
    }
    &-item{
      padding: 40px;
    }
    &-right{
      display: none;
    }
    &-left{
      width: 100%;
      padding: 0;
    }
    &-desc{
      font-size: 16px;
    }
    &-button{
      margin-top: 16px;
      margin-bottom: 0;
    }
  }
}
@media(max-width:576px){
  .banner{
    &-item{
      min-height: 320px;
    }
  }
}

@media(max-width:350px) {
  .banner
  {
    &-title{
      font-size: 26px;
    }
  }
}